{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
绑定学号 - 清华紫荆之声
{% endblock %}

{% block css %}
<link href="{% static "css/validation.css" %}?_=3" rel="stylesheet" type="text/css" />
<style type="text/css">
#successTicket {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height:100%;
      width:100%;
      text-align:center;
      }
</style>
{% endblock %}

{% block js %}
    <script src="{% static "js/validation.js" %}?_=5"></script>
    <script>
    function ajaxForm() {
        submitValidation('{{ openid }}');
    }
    function successTicket(rank, Area, Seat) {
    	$('#rankPlace').text(""+rank);
    	$('#chosenArea').text(Area);
    	$('#chosenSeat').text(""+Seat);
    	$("#successTicket").attr("style","display:block");
    	$("#usernameGroup").attr("style","display:none");
    	$("#submitGroup").attr("style","display:none");
    }
    window.addEventListener('load', function() {showValidation({{ isValidated }});}, false);
    </script>
{% endblock %}

{% block theme %}
    新清华学堂(A区选座)
{% endblock %}

{% block content %}
            
    <div id="validationHolder">
        <form class="form-horizontal" role="form" action="{% url "userpage.views.validate_post" %}" method="post" id="validationForm" onsubmit="return false;">
            {% csrf_token %}
          <div class="form-group" id="usernameGroup" style="display:none">
            <p style="display: table-cell; vertical-align: middle;text-align:center;"><span id = "rankPlace" style="font-size:1050%;color:#FF00FF;font-weight:900;">None</span><span style="font-weight:900;font-size:200%;color:red;"><span id="chosenArea">None</span>区 <span id = "chosenSeat">None</span>座位</span></p>
            <img styleSheet = "width = 100%" src="{% static "img/seatsTest.jpg" %}" />
            <!--<label for="inputUsername" class="col-xs-3 control-label">学号</label>
            <div class="col-xs-9">
              <input type="tel" class="form-control" id="inputUsername" placeholder="请输入您的学号" name="username" value="{{ studentid }}" onblur="checkUsername();">
              <span class="help-block" id="helpUsername"></span>
            </div>-->
          </div>
          <!--<div class="form-group" id="passwordGroup">
            <label for="inputPassword" class="col-xs-3 control-label">密码</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="使用info密码进行登录" name="password" onblur="checkPassword();">
              <span class="help-block" id="helpPassword"></span>
            </div>
          </div>-->
          <div class="form-group" id="submitGroup">
            <div class="col-xs-offset-3 col-xs-9">
              <button onclick="" class="btn btn-default" id="AArea">1号</button>
              <button onclick="" class="btn btn-default" id="BArea">8号</button>
              <button onclick="" class="btn btn-default" id="CArea">22号</button>
              <button onclick="" class="btn btn-default" id="DArea">12号</button>
              <!--<button onclick="ajaxForm();" class="btn btn-default" id="submitBtn">认证</button>
              <p class="help-block" id="helpLoading" style="display: none"><img src="{% static "img/loading.gif" %}">正在认证，请稍候...</p>
              <p class="help-block" id="helpSubmit"></p>-->
            </div>
          </div>
          <div id="successTicket" style="display: table;">
        	<!--<img styleSheet = "width = 100%" src="bg.jpg" />-->
        	<p style="display: table-cell; vertical-align: middle;text-align:center;"><span id = "rankPlace" style="font-size:1050%;color:#FF00FF;font-weight:900;">None</span><span style="font-weight:900;font-size:200%;color:red;"><span id="chosenArea">None</span>区 <span id = "chosenSeat">None</span>座位</span></p>    
    	  </div>
        </form>
    </div>
    
{% endblock %}
